.header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
}

.logoContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.iconLogo {
  width: 28px;
  height: 28px;
}

.logoTEXT {
  font-weight: 500;
  font-size: 20px;
}

.linksContainer {
  display: flex;
  gap: 28px;
}

.link {
  position: relative;
}

.link::before {
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  transition: 0.25s all ease;
  content: "";
  border-top: 1px solid transparent;
  background: linear-gradient(50deg, yellow, blue);
}

.link:hover::before {
  width: 100%;
}

.buttons {
  display: flex;
  gap: 16px;
}

.logInButton:hover .iconLogiN {
  transform: translateX(6px);
}

.iconLogiN {
  width: 20px;
  height: 20px;
  transition: 0.25s all ease;
}


.clickDiv {
  display: flex;
  align-items: center;
}