.header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  position: relative;
}

.logoContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.iconLogo {
  width: 28px;
  height: 28px;
}

.logoTEXT {
  font-weight: 500;
  font-size: 20px;
}

.nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (min-width: 768px) {
    gap: 28px;

    flex-direction: row;
  }
}

.link {
  position: relative;
}

.link::before {
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  transition: 0.25s all ease;
  content: "";
  border-top: 1px solid transparent;
  background: linear-gradient(50deg, yellow, blue);
}

.activeLink::before {
  width: 100%;
}

.link:hover::before {
  width: 100%;
}

.buttons {
  align-items: center;
  flex-direction: column;
  gap: 8px;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 16px;
    flex-direction: row;
  }
}

.logInButton:hover .iconLogiN {
  transform: translateX(6px);
}

.iconLogiN {
  width: 20px;
  height: 20px;
  transition: 0.25s all ease;
}

.clickDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconBurger {
  width: 32px;
  height: 32px;
  stroke: var(--base);
  position: relative;
}

.burger {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.burgerModal {
}

.burgerModalContent {
  max-width: 100%;
  padding: 24px;
  position: relative;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: #fff;
  top: 60px;
  right: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    padding: 64px;
  }
}

.active {
  gap: 8px;
  display: flex;
}
